#title {
    text-align: center;
    font-family: arial, sans-serif;
    margin:5px;
    border-top: 1px solid #ddd;
    border-collapse: collapse;
  }
  
  #logtable {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 0.01em groove #ddd;
    width: 100%;    
    border-radius:8px;
    overflow:hidden;
    background-color: khaki;
  }
  
  #logtable td, #logtable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #logtable tr:nth-child(even){background-color: #f2f2f2;}
  
  #logtable tr:hover {background-color: #ddd;}
  
  #logtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #36304a;
    color: white;
  }

  .tableContainer{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
  }
  